.blog-title {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: #5a0490;
    margin-bottom: 20px;
}

.blog-container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    gap: 20px;
    border-radius: 8px;
    color: #5a0490;
}

.poem {
    background-color: #f4fafb;
    padding: 20px;
    border: 1px solid #c636dc;
    border-radius: 8px;
    flex-basis: 300px;
    flex-grow: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.poem:hover {
    transform: scale(1.02);
}



.poem p {
    font-size: 1em; 
    color: #4c030c;
    line-height: 1.5; 
}

.poemstwo h3 {
    color: #79536f;
    margin-top: 0;
}
