.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  margin-bottom: 60px;
}

.poem {
  color: #392033;
  flex-basis: 300px;
  flex-grow: 1;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* margin-bottom: 20px; */ /* Removed as gap in container should be sufficient */
}

.poem h3 {
  margin-top: 0;
  color: #c4289b;
}

 h2 {
  color: #c4289b;
 }


.poem p {
  color: #b12e2e;
  line-height: 1.6;
}
